* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* UTILITIES */

.hidden {
    display: none;
}

.border {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 0;
    border-left: 0;
}

.border-invert {
    border-bottom: 0;
    border-right: 0;
    border-top: 2px solid black;
    border-left: 2px solid black;
}

/* *********************************** */

body {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container { 
    width: 300px;

}

#logo {
    background-color: #cfcfcf;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button:active {
    background-color: grey;
    box-shadow: 1px 2px black;
    transform: translateY(1px);
}

.display {
    overflow-x: auto;
    min-height: 70px;
    font-family: 'Seven Segment', sans-serif;
    background-color: black;
    color: #09cf97;
    padding: 10px;
    font-size: 50px;
    text-align: end;
}
.container-flex {
    display: flex;
    background-color: #cfcfcf;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-wrap {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 15px;
}

.numbers {
    width: calc(100% / 3 - 10px);
    background-color: #bbbbbb;
    border-radius: 10px;
    padding: 15px 0;
}

.grow {
    flex-grow: 1;
}

.result {
    background-color: #ff9f0a;
    padding: 0 20px;
    border-radius: 10px;
}

.column {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 15px;
}

.delete {
    background-color: #ff9f0a;
    padding: 10px;
    border-radius: 10px;
}

.operations {
    padding: 10px 0;
    border-radius: 10px;
    background-color: #77a8b0;
}



